@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-900 antialiased font-sans;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary-dark text-white px-6 py-3 rounded-lg font-medium hover:opacity-90 transition-opacity;
  }
  
  .btn-secondary {
    @apply bg-primary-dark text-white px-6 py-3 rounded-lg font-medium hover:opacity-90 transition-opacity;
  }

  .btn-outline {
    @apply border-2 border-white text-white px-6 py-3 rounded-lg font-medium hover:bg-white hover:text-primary-dark transition-colors;
  }
}
